/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700i,800,800i,900,900i|Open+Sans:400,400i,600,600i,700,700i,800");
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  width: 100%;
  background: #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px; }
  header p {
    width: 300px;
    font-size: 20px;
    font-family: "monserrat",sans-serif;
    font-style: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
  header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    header nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between; }
      header nav ul li {
        width: 100px;
        font-size: 10px;
        font-family: "monserrat",sans-serif;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; }

.portada {
  width: 100%;
  background: #18BC9C;
  text-align: center;
  padding: 5% 0; }
  .portada img {
    width: 15%;
    display: block;
    margin: 0 auto; }
  .portada h1 {
    display: block;
    margin: 0 auto;
    font-size: 50px;
    font-family: "montserrat",sans-serif;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    margin: 2% 0; }
  .portada .titular {
    display: inline-block; }
    .portada .titular i {
      color: #fff;
      font-size: 25px; }
    .portada .titular:before, .portada .titular:after {
      content: "";
      width: 70px;
      height: 2px;
      background: #fff;
      margin: 4px;
      display: inline-block; }
  .portada p {
    margin-top: 30px;
    color: #fff;
    font-size: 12px;
    font-family: "open Sans", sans-serif; }

.portfolio {
  text-align: center;
  box-sizing: border-box;
  padding: 60px 250px; }
  .portfolio h2 {
    font-size: 40px;
    font-family: "montserrat",sans-serif;
    font-weight: 600;
    color: #000;
    text-transform: uppercase; }
  .portfolio .titular {
    display: inline-block; }
    .portfolio .titular i {
      color: #000;
      font-size: 25px; }
    .portfolio .titular:before, .portfolio .titular:after {
      content: "";
      width: 70px;
      height: 2px;
      background: #000;
      margin: 4px;
      display: inline-block; }
  .portfolio .port-img {
    display: flex;
    flex-wrap: wrap;
    list-style: none; }
    .portfolio .port-img li {
      box-sizing: border-box;
      width: 33%;
      padding: 10px; }
      .portfolio .port-img li img {
        width: 100%; }

.about {
  background: #18BC9C;
  text-align: center;
  padding: 60px 0; }
  .about h2 {
    font-size: 40px;
    font-family: "montserrat",sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase; }
  .about .titular {
    display: inline-block; }
    .about .titular i {
      color: #fff;
      font-size: 25px; }
    .about .titular:before, .about .titular:after {
      content: "";
      width: 70px;
      height: 2px;
      background: #fff;
      margin: 4px;
      display: inline-block; }
  .about .texto {
    width: 550px;
    margin: 0 auto; }
    .about .texto p {
      display: inline-block;
      font-size: 15px;
      color: #fff;
      width: 230px;
      font-family: "open Sans", sans-serif;
      text-align: left;
      padding: 15px;
      line-height: 23px; }
  .about .descarga {
    display: inline-block;
    width: 150px;
    border-radius: 4%;
    border: 1px solid #fff;
    padding: 5px 0;
    font-size: 20px;
    margin-top: 20px; }
    .about .descarga i {
      margin-right: 15px; }
    .about .descarga a {
      color: #fff;
      font-family: "open Sans", sans-serif;
      text-decoration-line: none; }

.contacto {
  text-align: center;
  padding: 60px 0; }
  .contacto h2 {
    font-size: 40px;
    font-family: "montserrat",sans-serif;
    font-weight: 600;
    color: #000;
    text-transform: uppercase; }
  .contacto .titular {
    display: inline-block; }
    .contacto .titular i {
      color: #000;
      font-size: 25px; }
    .contacto .titular:before, .contacto .titular:after {
      content: "";
      width: 70px;
      height: 2px;
      background: #000;
      margin: 4px;
      display: inline-block; }
  .contacto form input, .contacto form textarea {
    width: 60%;
    margin: 5px;
    font-family: "open Sans", sans-serif;
    font-size: 20px;
    border-top: 1px;
    border-bottom: 1px;
    border-left: none;
    border-right: none; }
  .contacto form button {
    width: 20%;
    background: green;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
